/* Estilos para la página de login */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #89CFF0, #283E51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #007BFF;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.form-control {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.btn-success {
    background-color: #28A745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-secondary {
    background-color: #6C757D;
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #5A6268;
}

.alert-danger {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}
