{%include 'header.html'%}
<div class="container mt-5">
  {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
  <div class="alert alert-primary display-1">{{titulo}}</div>
  <form method="POST" action="#">
    {% csrf_token %}
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      {{ form.fecha }}
    </div>
    <div class="mb-3">
        {{ form.proveedor.label_tag }}
        {{ form.proveedor }}  
    </div>
    <div class="mb-3">
        <label for="orden" class="form-label">Orden de compra</label>
        <input type="text" class="form-control" id="orden" name="orden" required>
    </div>
    <div class="mb-3">
        <label>Materia:</label>
        <!-- Campo oculto para enviar el ID de la materia -->
        <input type="hidden" name="materia" value="{{ nomMateria.id }}">
        <input type="text" class="form-control" value="{{ nomMateria.nombre }}" readonly>
    </div>
    <div class="mb-3">
        <label for="id_lote" class="form-label">Lote</label>
        {{ form.lote }}
    </div>
    <div class="mb-3">
        <label for="id_cantidad" class="form-label">Cantidad</label>
        {{ form.cantidad }}
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
  </form>
  <div class="mb-3">
  <a href="{%url 'materiaVer'%}" class="btn btn-primary">volver</a>
</div>
</div>
{%include 'footer.html'%}