{%include 'header_bodeguero.html'%}
<div class="container mt-5">
<div class="alert alert-primary display-1">{{titulo}}</div>
<div class="mb-3">
  <a href="../materiaCrear/" class="btn btn-success">
      <i class="bi bi-plus-circle-fill"></i> Agregar Nueva Materia
  </a>
</div>
{%if materia%}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Estado</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for mat in materia%}
                <tr>
                    <td>{{mat.id}}</td>
                    <td>{{mat.nombre}}</td>
                    <td>{{mat.cantidad}}</td>
                    <td>{{mat.unidadMedida}}</td>
                    <td>{{mat.estadoMateria}}</td>
                    <td>
                      <a href="../comprasAgregar/{{mat.nombre}}"
                        class='btn btn-info'><i class="bi bi-plus-circle-fill"></i>
                     </a>
                  </td>
                 
                   
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Materia Prima!!!!</div>
        {%endif%}
</div>

{%include 'footer.html'%}