
{%include 'header.html'%}
<div class="container mt-5">

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{form.nombre.label_tag}}
    {{form.nombre}}
  </div>
  <div class="mb-3">
    {{form.cantidad.label_tag}}
    {{form.cantidad}}
  </div>


  <h3>Composición:</h3>
  {% for materia in materias_primas %}
          <div class="mb-3 d-flex align-items-center">
            <div class="form-check me-3">
                <input type="checkbox" id="materia_{{ materia.id }}" name="composicion" value="{{ materia.id }}" class="form-check-input">
                <label for="materia_{{ materia.id }}" class="form-check-label">{{ materia.nombre }}</label>
            </div>
            <label for="cantidad_{{ materia.id }}" class="me-2">Cantidad utilizada</label>
            <input type="number" id="cantidad_{{ materia.id }}" name="cantidad_utilizada_{{ materia.id }}" class="form-control" style="width: 150px;" required>
        </div>

  {% endfor %}

  <button class="btn btn-info" type="submit">Crear Producto</button>
</form>
</div>

{%include 'footer.html'%}