{%include 'header.html'%}

<div class="container mt-5">
    <div class="alert alert-primary display-1">{{titulo}}</div>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        {{form.nombre.label_tag}}
        {{form.nombre}}
      </div>
      <input type="hidden" name="cantidad" value="0">
      <input type="hidden" name="estado" value="True"> 
      <div class="mb-3">
        {{form.composicion.label_tag}}
        {{form.composicion}}
      </div>
     
        <button type="submit" class="btn btn-primary">Crear </button>
    </form>
    <div>
        {%include 'footer.html'%}