{%include 'header_bodeguero.html'%}

<div class="container mt-5">
  
<div class="alert alert-primary display-1">{{titulo}}</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Composicion</th>
            <th>Estado</th>
            
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
                <ul>
                    {% for materia in producto.composicion.all %}
                    <li>{{ materia.nombre }} - {{ materia.cantidad }} {{ materia.unidadMedida }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ producto.estadoProducto }}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>
        
</div>
</div>

{%include 'footer.html'%}