
{%include 'header.html'%}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <h3>Composición:</h3>
  {% for materia in materias_primas %}
      <div>
          <label for="materia_{{ materia.id }}">{{ materia.nombre }}</label>
          <input type="checkbox" id="materia_{{ materia.id }}" name="composicion" value="{{ materia.id }}">
          <label for="cantidad_{{ materia.id }}">Cantidad utilizada</label>
          <input type="text" id="cantidad_{{ materia.id }}" name="cantidad_utilizada_{{ materia.id }}">
      </div>
  {% endfor %}

  <button type="submit">Crear Producto</button>
</form>


{%include 'footer.html'%}