{%include 'header.html'%}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="../productosVer/">ver</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"aria-current="page" href="../productosCrear/">Crear</a>
    </li>
  </ul>
<div class="container mt-5">
    <div class="alert alert-primary display-1">{{titulo}}</div>
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Crear">
    </form>
</div>
{%include 'footer.html'%}