{%include 'header.html'%}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="../proveedoresVer/">ver</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../proveedoresCrear/">Crear</a>
  </li>
</ul>
<div class="container mt-5">
<div class="alert alert-primary display-1">{{titulo}}</div>
{%if proveedores%}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for pro in proveedores%}
                <tr>
                    <td>{{pro.id}}</td>
                    <td>{{pro.nombre}}</td>
                    <td>{{pro.contacto}}</td>
                
                    <td>
                        <a href="../proveedoresActualizar/{{pro.id}}"
                          class='btn btn-info'><i class="bi bi-pencil">Editar</i>
                       </a>
                    </td>
                    <td>
                        <a href="../proveedoresDeshabilitar/{{pro.id}}"
                          class='btn btn-danger'><i class="bi bi-trash">Deshabilitar</i>
                       </a>
                    </td>
                    
                   
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Proveedores!!!!</div>
        {%endif%}
</div>

{%include 'footer.html'%}