{%include 'header_bodeguero.html'%}

<div class="container mt-5">
<div class="alert alert-primary display-1">{{titulo}}</div>

{%if proveedores%}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                 
                </tr>
            </thead>
            <tbody>
                {%for pro in proveedores%}
                <tr>
                    <td>{{pro.id}}</td>
                    <td>{{pro.nombre}}</td>
                    <td>{{pro.contacto}}</td>
                
                  
                    
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Proveedores!!!!</div>
        {%endif%}
</div>

{%include 'footer.html'%}